@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Space+Mono&display=swap');


.testButton{height:100px; width:100px;
background:green;}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*scroll-behavior: smooth;*/
	cursor: crosshair;
/*for firefox*/
scrollbar-color: black white;
scrollbar-width: 20px;

	}
html{
	overflow-x:hidden;
}


::selection {
  background: #000001;
	color:white;
	mix-blend-mode: multiply;
		-webkit-text-stroke-width:0px!important;
 	-webkit-text-stroke-color: black;
}
::-moz-selection {
  background: #000001;
	color:white;
	mix-blend-mode: multiply;
	-webkit-text-stroke-width:0px!important;
 	-webkit-text-stroke-color: black;
}



::-webkit-scrollbar {
  width: 20px;
}


/* Track */
::-webkit-scrollbar-track {
  background: white;
	border-left:1px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000001;
}

body {font-size:12px;
	width:100%;

}

.heroText{
	font-size:6em;
	line-height:1.1em;
	width:60%;
	max-width:1000px;
	margin-left:5%;
	margin-right:auto;
	margin-top:70px;
	margin-bottom:50px;
}

.entriesSection{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows:repeat(12, auto);
	grid-row-gap:10px;
	grid-column-gap:20px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	margin-bottom:100px;
}




.entriesSection article{
	grid-column:1/13;
	border-bottom:1px solid black;
	min-height:80px;
	height:auto;
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap:20px;}


.font1{font-family:"Space Mono";}
.font2{font-family:"Playfair Display";}

/*this is for the main page*/
.date{
	grid-column:1/3;
	height:100%;
	line-height:80px;
	font-size:1.1em;
}

.title{
	grid-column:3/10;
	height:100%;
	line-height:75px;
	font-size:2em;
	
}
.introSection{
	font-family:"Playfair Display";
}

.description{
	grid-column:10/13;
	height:100%;
	font-size:1em;
}

.scrollingTextContainer{
	font-size:12em;
	height:200px;
	overflow-x:scroll;
	overflow-y:hidden;
}
.scrollingTextContainer::-webkit-scrollbar {height:0;}

.scrollingText{
	color:transparent;
	padding-right:100px;
	padding-left:100px;
	overflow-x:scroll;
	overflow: auto; 
	mix-blend-mode: darken;
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;

}


.scrollSize1{width:450%;}
.scrollSize2{width:650%;}
.scrollSize3{width:850%;}






/*This is for the individual pages*/
.topBar{height:25px;
width:100vw;
position:fixed;
	top:0;
z-index:2;
background-color:white;}

.bottomBar{height:25px;
width:100vw;
position:fixed;
z-index:2;
bottom:0;
background-color:white;}





.titleSection{
	grid-column:1/8;
	font-size:8em;
	margin-top:75px;
	margin-bottom:25px;
	line-height:1em;
}

.dateSection{
	grid-column:1/5;
	font-size:1.3em;
	margin-bottom:25px;}

.descriptionSection{
	grid-column:1/7;
	font-size:1.1em;
	margin-bottom:50px;}

.picturesSection{
	grid-column:1/13;
	transition-duration:500ms;
}

.picturesSection img{
	width:100%;
	margin-bottom:50px;
	mix-blend-mode:multiply;
	transition-duration:400ms;
	cursor:pointer;
	}

.fullHeightScrollingTextContainer{
	position:fixed;
	top:0;
	overflow-x:scroll;
	overflow-y:hidden;
	z-index:-1;
	height:100%;
	
}

.fullHeightScrollingText{
	color:transparent;
	height:100%;
	font-size:90vh;
	line-height:95%;
	padding-right:100px;
	padding-left:100px;
	overflow-x:scroll;
	overflow-y: hidden;
	mix-blend-mode: darken;
	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;}

.fullHeightScrollingTextContainer::-webkit-scrollbar {height:0;}
.fullHeightScrollingText::-webkit-scrollbar {height:0;}


/*modifiers*/

.background{
	position:fixed;
	z-index:-1;
	background-color: black;
	width:100vw;
	height:100vh;
	top:0;
	opacity:0;
	transition-duration:200ms;
	cursor: zoom-out;
}
.opaque{
	opacity:100;
	z-index:3;
	transition-duration:200ms;
}

.transparent{
	opacity:0;
	height:0;
	transition-duration:200ms;
}
.focused{}
.focused img{
	position: fixed;
	height:90vh;
	width:auto;
	display: block;
	
	top:5vh;
	right:0;
	left:0;
	
    margin-left: auto;
    margin-right: auto;
	
	
	
	z-index:4;
	mix-blend-mode:normal;
	transition-duration:300ms;
	
	cursor:crosshair;
	
}

