@charset "utf-8";
/* CSS Document */

html{	
	cursor:text;
}
body{margin:0;
height:100vh;}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#REFERENCE{}
.mainContainer{height:200vh;

}


.Name
	{
	display:inline-block;
	margin-right:0;
  	font-size: 1vw;
}

.Header
	{
	margin-top:40px;
	Margin-right:10vw;
	Margin-left:10vw;
	font-family:'Oswald', sans-serif;}

.topNavigation{
	display:inline-block;
	float:right;
	transition: 1s;
}

.topNavigation a{
	display:inline-block;
	float:right;
	color: #303030;
	text-align: center;
	padding: 20px 20px;
  	font-size: 25px;
	text-decoration:none;
}

.ml3{
}


.Jar1{height:80vh;
right:0vw;
	position:absolute;
	z-index:0;
}
.Jar2{height:80vh;
right:33vw;
	position:absolute;
	z-index:0;
}
.Jar3{height:80vh;
	right:66vw;
	position:absolute;
	z-index:0;
}
.🦕{position:absolute;
mix-blend-mode:screen;
width:65%;}

.🚂{position:absolute;
mix-blend-mode: hard-light;
width:55vw;
right:10vw;
}
.Verdun{
position:absolute;
mix-blend-mode: darken;
width:45vw;
left:5vw;
z-index:-1;
}

.groceries{
margin-top:100px;
width:45vw;
}


.circlesvg{
	fill:none;
	stroke:#231f20;
	stroke-width:3;
	stroke-alignment:inner;
	stroke-miterlimit:10;
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	animation: dash 3s linear;
	animation-fill-mode: forwards;
}

.firstSectionContainer{
	width:100vw;
}
/*Yeah, all of these are the same. I could have reused them, I know.*/
.secondSectionContainer{height:100vh;
	width:100vw;
overflow:hidden;}

.thirdSectionContainer{height:100vh;
	width:100vw;
overflow:hidden;}

.fourthSectionContainer{height:100vh;
	width:100vw;

overflow:hidden;}

.lastContainer
{height:100vh;
	width:100vw;
	margin-top:100px;

overflow:hidden;}

.mainParagraphContainer{
	Margin-left:10vw;
	margin-top:5vw;
	width:80vw;
	
}
/*These too are too repetitive.*/
.titleContainerPage2{
	padding-top:15vh;
padding-left:15vw;
	width:80vw;}
.titleContainerPage3{
	padding-top:15vh;
padding-left:15vw;
	width:80vw;}
.titleContainerPage4{
	padding-top:15vh;
padding-left:15vw;
	width:80vw;}

/*SPAGHETTI CODE HERE WE GO*/
.🖋️{ 
	font-weight: 400;
  	font-size: 4.5vw;
	width: 45vw;
	line-height:105%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:multiply;
	letter-spacing: 0.3vw
		z-index:1000;

	}
.🖋️🖋️{ 
	}


.colorGroup1{color:#DB00FF;}
.colorGroup2{color:#19FF0D;}
.colorGroup3{color:#FF3E00;}
.colorGroup4{color:black;}
.colorGroup5{color:#D4D4D4;}
.unselectable{user-select: none;}





::selection {
  color: white;
  background: black;
}


@keyframes dash {
	  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-device-width: 1800px) {
	
	body{
	opacity:0;;
	transition: 1s}

}


#followCursor
	{position:absolute;
	transition-property: opacity, top, left, width;
	transition-delay: 0.2s, 0s ,0s ,0.3s;
	transition-duration: 0.2s;
    width:300px;
    height:auto;
	mix-blend-mode: color-burn;
	z-index:500;
	/*the Z-index determines the order of superposition*/
}
.section{width:100vw;
	height:100vh;}


.🙈 {
  opacity: 0;
}
.show {
  opacity: 1;
}

#📖{
	font-weight:500;
	font-size:0.8vw;
	width:25vw;
	mix-blend-mode:multiply;
	margin-left:0vw;
	font-family:'Song Myung', serif;
	transition-duration:3s;
	transition-delay:1s;}

#🖋️🖋️{
	font-weight: 400;
  	font-size: 8vw;
	width: 40vw;
	line-height:100%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:multiply;
	position:absolute;
	transition-duration:2s;
	transition-delay:0.2s
		z-index:1000;

}
#🖋️🖋️🖋️{
	font-weight: 400;
  	font-size: 8vw;
	width: 40vw;
	right:15vw;
	line-height:100%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:screen;
	position:absolute;
	transition-duration:3s;
	transition-delay:0.9s;
z-index:1000}

#🖋️🖋️🖋️🖋️{
	font-weight: 400;
  	font-size: 4vw;
	width: 40vw;
	right:5vw;
	line-height:100%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:overlay;
	position:absolute;
	transition-duration:3s;
	transition-delay:0.9s;
z-index:1000}

#🖋️🖋️🖋️🖋️🖋️{
	font-weight: 400;
  	font-size: 8vw;
	width: 40vw;
	right:5vw;
	line-height:110%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:difference;
	position:absolute;
	transition-duration:3s;
	transition-delay:0.9s;
	z-index:1000;}

#📖📖{
	font-weight:500;
	padding-top:10vw;
	font-size:1.2vw;
	width:37vw;
	mix-blend-mode:multiply;
	margin-left:0vw;
	font-family:'Song Myung', serif;
	transition-duration:2s;
	transition-delay:0.2s;
z-index:1000}

#📖📖📖{
font-weight:500;
	font-size:1.2vw;
	width:35vw;
	mix-blend-mode:multiply;
	margin-left:35vw;
	margin-top:5vh;
	font-family:'Song Myung', serif;
	transition-duration:2s;
	transition-delay:2s;
z-index:1000}

#📖📖📖📖{
	font-weight:500;
	font-size:1.3vw;
	width:35vw;
	mix-blend-mode:difference;
	margin-left:0vw;
	padding-top:15vh;
	font-family:'Song Myung', serif;
	transition-duration:1s;
	transition-delay:0.8s;
z-index:1000}

#📖📖📖📖📖📖{
	float:right;
	font-weight:500;
	font-size:1vw;
	width:30vw;
	mix-blend-mode:difference;
	margin-right:5vw;
	padding-top:0vh;
	font-family:'Song Myung', serif;
	transition-duration:1s;
	transition-delay:2s;
	z-index:1000;}

#📖📖📖📖📖📖📖{
	float:left;
	font-weight:500;
	font-size:1vw;
	width:30vw;
	mix-blend-mode:difference;
	margin-left:5vw;
	padding-top:25vh;
	font-family:'Song Myung', serif;
	transition-duration:1s;
	transition-delay:0.5s;
	z-index:1001;}

#📖📖📖📖📖📖📖📖{
	float:right;
	font-weight:500;
	font-size:1vw;
	width:35vw;
	margin-right:5vw;
	padding-top:25vh;
	font-family:'Song Myung', serif;

	transition-delay:0.5s;
	z-index:1001;}



.🍰{font-size:200%;
letter-spacing: 0.3vw;}
.left{float:left;}
.right{float:right;
	text-align:right;

}

/*For DART398*/


#fullScrollContainer{height:100vh;
margin-top:0;
	margin-bottom:0;
}




/* for the 🦐 page*/
#backgroundVideo{position:absolute;
  min-width: 100%;
	min-height: 100vh;
	z-index:-1;
 }


.pageTitle{width:100px;
		display:inline-block;
	margin-right:0;
  	font-size: 25px;
	padding: 20px 20px;}
.Header🦐
	{
	position:absolute;
	margin-top:0px;
	margin-right:0px;
	margin-left:0px;
	font-family:"Bebas Neue", cursive;}

.topNavigation🦐{
	display:inline-block;
	float:right;
	transition: 1s;
}

.mainContainer🦐s{
maxwidth:100em;
	overflow:hidden;
}

#followCursor🦐
	{position:absolute;
	transition-property: opacity, top, left, width;
	transition-delay: 0.2s, 0s ,0s ,0.3s;
	transition-duration: 0.15s;
    width:400px;
    height:auto;
	mix-blend-mode:color-burn;
	z-index:1000 ;
}

.circlesvg🦐{
	fill:#0400ff;
	stroke:#231f20;
	stroke-width:0;
	stroke-miterlimit:10;
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	animation: dash 3s linear;
	animation-fill-mode: forwards;
	opacity:0.5;

}

.slide-navigation{display:none;}
