@charset "utf-8";
/* CSS Document */

html{	
	cursor:text;
}
body{margin:0;}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#REFERENCE{}
.mainContainer{height:200vh;

}


.Name
	{
	display:inline-block;
	margin-right:0;
  	font-size: 25px;
}

.Header
	{
	margin-top:40px;
	margin-right:200px;
	margin-left:200px;
	font-family:'Oswald', sans-serif;}

.topNavigation{
	display:inline-block;
	float:right;
	transition: 1s;
}

.topNavigation a{
	display:inline-block;
	float:right;
	color: #303030;
	text-align: center;
	padding: 20px 20px;
  	font-size: 25px;
	text-decoration:none;
}

.ml3{
}


.Jar1{height:80vh;
right:0vw;
	position:absolute;
	z-index:0;
}
.Jar2{height:80vh;
right:33vw;
	position:absolute;
	z-index:0;
}
.Jar3{height:80vh;
right:66vw;
	position:absolute;
	z-index:0;
}
.dinosaur{position:absolute;
mix-blend-mode:screen;
width:65%;}

.metro{position:absolute;
mix-blend-mode: hard-light;
width:55vw;
right:10vw;
}
.Verdun{
position:absolute;
mix-blend-mode: darken;
width:45vw;
left:5vw;
z-index:-1;
}


.circlesvg{
	fill:none;
	stroke:#231f20;
	stroke-width:3;
	stroke-alignment:inner;
	stroke-miterlimit:10;
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	animation: dash 3s linear;
	animation-fill-mode: forwards;
}

.firstSectionContainer{

}
/*Yeah, all of these are the same. I could have reused them, I know.*/
.secondSectionContainer{height:100vh;
padding-top:15vh;}

.thirdSectionContainer{height:100vh;
margin-top:20vh;}

.fourthSectionContainer{height:100vh;
margin-top:20vh;}

.mainParagraphContainer{
	Margin-left:200px;
	margin-top:120px;
	width:80vw;
	
}
/*These too are too repetitive.*/
.titleContainerPage2{
	Margin-left:200px;
	width:80vw;}
.titleContainerPage3{
	Margin-left:200px;
	width:80vw;}
.titleContainerPage4{
	Margin-left:200px;
	width:80vw;}

/*SPAGHETTI CODE HERE WE GO*/
.title1{ 
	font-weight: 400;
  	font-size: 8em;
	width: 45vw;
	line-height:100%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:multiply;
	letter-spacing: 0.3vw;

	}
.title2{ 
	}


.colorGroup1{color:#FF0E00;}
.colorGroup2{color:#19FF0D;}
.colorGroup3{color:#D74C94;}
.unselectable{user-select: none;}





::selection {
  color: white;
  background: black;
}


@keyframes dash {
	  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-device-width: 600px) {
	
	.topNavigation{
	opacity:0;;
	transition: 1s}

}


#followCursor
	{position:absolute;
	transition-property: opacity, top, left, width;
	transition-delay: 0.2s, 0s ,0s ,0.3s;
	transition-duration: 0.15s;
    width:90px;
    height:auto;
	mix-blend-mode: multiply;
	z-index:1000 ;
	/*the Z-index determines the order of superposition*/
}
.section{width:100vw;
	height:100vh;}


.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}

#paragraph1{
		font-weight:500;
	font-size:1.5em;
	width:25vw;
	mix-blend-mode:multiply;
	margin-left:0vw;
	font-family:'Song Myung', serif;
	transition-duration:3s;
	transition-delay:1s;}

#title2{
		font-weight: 400;
  	font-size: 15em;
	width: 40vw;
	line-height:100%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:multiply;
	position:absolute;
	transition-duration:2s;
	transition-delay:0.2s;

}
#title3{
	font-weight: 400;
  	font-size: 15em;
	width: 40vw;
	right:15vw;
	line-height:100%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:screen;
	position:absolute;
	transition-duration:3s;
	transition-delay:0.9s;}

#title4{
	font-weight: 400;
  	font-size: 8em;
	width: 40vw;
	right:5vw;
	line-height:100%;
	font-family:'Anton', sans-serif;
	mix-blend-mode:screen;
	position:absolute;
	transition-duration:3s;
	transition-delay:0.9s;}


#paragraph2{
	font-weight:500;
	font-size:2em;
	width:37vw;
	mix-blend-mode:multiply;
	margin-left:0vw;
	font-family:'Song Myung', serif;
	transition-duration:2s;
	transition-delay:0.2s;}

#paragraph3{
font-weight:500;
	font-size:2em;
	width:35vw;
	mix-blend-mode:multiply;
	margin-left:35vw;
	margin-top:5vh;
	font-family:'Song Myung', serif;
	transition-duration:2s;
	transition-delay:2s;}

#paragraph4{
	font-weight:500;
	font-size:2em;
	width:35vw;
	mix-blend-mode:difference;
	margin-left:0vw;
	padding-top:15vh;
	font-family:'Song Myung', serif;
	transition-duration:1s;
	transition-delay:0.5s;}

#paragraph5{
	float:right;
	font-weight:500;
	font-size:1.5em;
	width:30vw;
	mix-blend-mode:difference;
	margin-left:0vw;
	padding-top:0vh;
	font-family:'Song Myung', serif;
	transition-duration:1s;
	transition-delay:2s;
	z-index:1000;}




.larger{font-size:200%;
letter-spacing: 0.3vw;}
.left{float:left;}
.right{float:right;
	text-align:right;

}

/*For DART398*/


#fullScrollContainer{height:100vh;
margin-top:0;
	margin-bottom:0;

}











/* for the shrimp website*/
#backgroundVideo{position:absolute;
  min-width: 100%;
 }


.pageTitle{width:100px;
		display:inline-block;
	margin-right:0;
  	font-size: 25px;
	padding: 20px 20px;}
.HeaderShrimp
	{
	position:absolute;
	margin-top:0px;
	margin-right:0px;
	margin-left:0px;
	font-family:"Bebas Neue", cursive;}

.topNavigationShrimp{
	display:inline-block;
	float:right;
	transition: 1s;
}

.mainContainerShrimps{
maxwidth:100em;
	overflow:hidden;
}

#followCursorShrimp
	{position:absolute;
	transition-property: opacity, top, left, width;
	transition-delay: 0.2s, 0s ,0s ,0.3s;
	transition-duration: 0.15s;
    width:400px;
    height:auto;
	mix-blend-mode:color-burn;
	z-index:1000 ;
}

.circlesvgShrimp{
	fill:#0400ff;
	stroke:#231f20;
	stroke-width:0;
	stroke-miterlimit:10;
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	animation: dash 3s linear;
	animation-fill-mode: forwards;
	opacity:0.5;

}

.slide-navigation{display:none;}
