@charset "utf-8";
/* CSS Document */

html{	
	cursor:crosshair;
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.mainContainer{

}
	
.Name
	{width:100px;
		display:inline-block;
	margin-right:0;
  	font-size: 25px;
	padding: 20px 20px;}

.Header
	{
	margin-top:40px;
	margin-right:50px;
	margin-left:50px;
	font-family:"Bebas Neue", cursive;}

.topNavigation{
	display:inline-block;
	float:right;
	transition: 1s;
}

.topNavigation a{
	display:inline-block;
	float:right;
	color: #303030;
	text-align: center;
	padding: 20px 20px;
  	font-size: 25px;
	text-decoration:none;
}



@media only screen and (max-device-width: 600px) {
	
	.topNavigation{
	opacity:0;;
	transition: 1s}

}

#followCursor
	{position:absolute;
	transition:0.15s;
    width:50px;
    height:auto;

}